@import "../../Style/mixins";
@import "../../Style/variables";

.viewProfile{
   @include area(100%, 90.9vh); 
   @include centrar-elemento(center, start, row);
   @include view;
}
.update{
   @include centrar-elemento(center, center, column);
   @include area(50%, 40vh);
   // padding: 20px 100px;
   background-color: white;
   box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.364);
   border-radius: 30px;
   margin: 20px;
   .title{
      margin: 20px 0;
      width: 80%;
      @include degradeText;
   }
   .block{
      @include centrar-elemento(space-around,center, row);
      @include area (100%,55px);
   }
}
.imageUser{
   @include area(45%, 40vh);
   @include centrar-elemento(space-around, center);
   border-radius: 30px;
   background-color: white;
   margin: 20px;
   margin-right: 6%;
   box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.364);
   .containerImage{
      @include centrar-elemento(center,center);
      @include area (200px, 200px);
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      margin-left: 10px;
      // background-color: red;
      user-select: none;
   img{
         width: 100%;
      }
   }
   .bio{
      height: 150px;
      overflow: auto;
      min-width: 55%;
      h3{
         @include degradeText;
         font-size: 16px;
         letter-spacing: 1.5px;
         margin: 0 0 10px 0;
      }
      input::placeholder{
         font-size: 13px;
         color: black;
      }
      input{
         font-size: 13px;
      }
      i{
         cursor: pointer;
      }
   }
}