@import "../../Style/variables";
@import "../../Style/mixins";

.containerSignIn{
    @include centrar-elemento(start, center, column);
    width: 485px;
    height: 600px;
    border-radius: 30px;
    border: 1px solid #9C9494;
    background-color: rgb(255, 255, 255);
    margin-right: 40px;
    padding: 0;
    box-shadow: 10px 10px 25px 0px rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    .header{
        @include area (100%, auto);
        // background-color:red;
        text-align: center;
        margin: 0;
        margin-top: 25px;
        p:nth-child(1) {
            font-weight: $extraLight; 
            font-size: 50px;
            margin: 0;
          }
        p:nth-child(2) {
            font-weight: $extraLight;
            color: #828282;
            b{
                color: $Violeta;
            }
        }
    }
    .containerInputs{
        @include area(100%, 160px);
        @include centrar-elemento(space-around, center, column);
        margin-top: 30px;
    }
    .separador{
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    .tercerosSignIn{
        @include area(80%, 200px);
        @include centrar-elemento(center, center, column);
        // background-color: red;
        border-top: 1px solid rgb(183, 179, 179) ;
        button{
            @include centrar-elemento(start, center, row);
            i{
                margin: 0 10px;
                font-size: 25px;
            }
            width: 280px;
            height: 45px;   
            margin: 15px;
            border-radius: 20px;
            border: 1px solid #A9A2A2;
            font-weight: $light;
            cursor: pointer;
        }
    }
    .textRegister{
        font-weight: $light;
        button{
            background-color: transparent;
            font-weight: $bold;
            color: $Violeta;
            cursor: pointer;
        }
    }
}
.visibleSignIn{
    opacity: 1;
}