@import "./Normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: #EEEEEE;
    
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: #EEEEEE;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #ab0fce99;
    border-radius: 50px;
    // border: 1px solid rgb(255, 0, 255);
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #ab0fcecd;
  }
  