@mixin centrar-elemento ($just,$align,$dir:row){
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
  }
@mixin area ($wid:100%,$hei:100vh) {
    width: $wid;
    min-height: $hei;
}
@mixin degradeText ($direction: left, $colorLeft: #CC00FF, $colorRight: #ebe6e6) {
  background-image: -moz-linear-gradient($direction, $colorLeft,  $colorRight); /* Firefox */
  background-image: -o-linear-gradient($direction, $colorLeft,  $colorRight); /* Opera */
  background-image: linear-gradient(to $direction, $colorLeft,  $colorRight); /* Estándar */
  background-image: -webkit-linear-gradient($direction, $colorLeft,  $colorRight); /* Safari y Chrome */
  -webkit-background-clip: text;
  color: transparent;
}
@mixin view ($top:.5%, $right:0, $bottom:0, $left: 4%) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom; 
  padding-left: $left;
}

@mixin section ($wid:50%, $hei:40vh, $mar:20px, $bor:30px) {
  width: $wid;
  min-height: $hei;
  margin: $mar;
  border-radius: $bor;

  background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.258);
    box-shadow: 0px 5px 10px 0 #0000005d;
}
@mixin baseModal () {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  background-color: #000000b2;
}