@mixin centrar-elemento ($just,$align,$dir:row){
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
  }
@mixin area ($wid:100%,$hei:100vh) {
    width: $wid;
    min-height: $hei;
}