@import "../../Style/variables";
@import "../../Style/mixins";

.containerCheckIn{
    @include centrar-elemento(start, center, column);
    width: 485px;
    height: 600px;
    border-radius: 30px;
    border: 1px solid #9C9494;
    background-color: rgb(255, 255, 255);
    margin-right: 40px;
    padding: 0;
    box-shadow: 0px 10px 50px 0px rgb(95, 95, 95);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    .header{
        @include area (100%, auto);
        // background-color:red;
        text-align: center;
        margin: 0;
        margin-top: 25px;
        p:nth-child(1) {
            font-weight: $extraLight; 
            font-size: 50px;
            margin: 0;
          }
        p:nth-child(2) {
            font-weight: $extraLight;
            color: #828282;
            b{
                color: $Violeta;
            }
        }
    }
    .containerInputs{
        @include area(100%, 370px);
        @include centrar-elemento(space-around, center, column);
        margin-top: 30px;
        // ----------------- inputs -------------------------
        input{
            width: 310px;
            height: 30px;
            border-radius: 15px;
            padding: 0 12px;
            font-size: 14px;
            border: 1px solid #A9A2A2;
        }
    }
    .textRegister{
        font-weight: $light;
        margin-top: 30px;
        button{
            background-color: transparent;
            font-weight: $bold;
            color: $Violeta;
            cursor: pointer;
        }
    }
}
.visibleCheckIn{
    opacity: 1;
}