@import "../../Style/mixins";

.viewCreatePost{
    @include centrar-elemento(center, start);
    @include area (100%, 92vh);
    @include view(0, 0%, 0, 1.5%);
}
.sectionCreate{
    @include centrar-elemento(space-around, center, column);
    @include section(65%, 35vh, 50px, 20px);
    padding: 20px;
    // background-color: red;
    .title{
        width: 100%;
        text-align: start;
        @include degradeText;
    }
    .containerOptions{
        // background-color: blue;
        width: 100%;
        max-height: 50vh;
        position: relative;
        .textarea{
            position: relative;
            width: 98%;
            min-height: 10vh;
            padding: 10px 10px;
            border-radius: 10px;
            // border: 0;
            outline: none;
            resize: none;
            font-size: 12px;
        }
        i{
            font-size: 20px;
            position: absolute;
            top: 92px;
            right: 5px;
            cursor: pointer;
        }
    }
    .sectionPreviewImage{
        @include centrar-elemento(center, center);
        @include area(100%, 28vh);
        // background-color: red;
        margin: 20px 0;
        .containerImage{
            @include area(25%, 30vh);
            // background-color: blue;
            .image{
                width: 100%;
            }
        }
    }
    
}