@import "../../Style/mixins";
@import "../../Style/variables";
.sideBar{
    @include area (3.5%, 100%);
    @include centrar-elemento(start, center, column);
    background-color:#292929;
    position: fixed;
    right: 0;
    transition: width .5s;
}
.sideBar:hover{
    width: 5%;
}