@import "../../Style/mixins";
@import "../../Style/variables";

.aboutView{
    @include view();
    @include centrar-elemento(center,center,row);
    opacity: 0;
    transition: opacity .5s;
}
.viewAboutVisible{
    opacity: 1;
}
.sectionAbout{
    @include section(80%, 120vh);
    @include centrar-elemento(space-around,center,column);
    padding: 35px;
    h2{
        width: 100%;
        @include degradeText();
    }
    h3{
        width: 100%;
        font-weight: $regular;
        @include degradeText();
    }
    p{
        font-weight: $light;
    }
    ul li{
        margin: 20px 0;
        font-weight: $light;
    }
}