@import "../../Style/mixins";

.containerPosts{
    @include centrar-elemento(start,center,column);
    @include section(90%, 17vh);
    padding: 20px;
    .title{
      @include degradeText;
      width: 95%
    }
    .post{
      @include area(95%, 1vh);
      @include centrar-elemento(Center, center, column);
      // background-color: red;
      border-top: 1px solid #00000045;
      border-bottom: 1px solid #00000045;
      padding: 18px 0;
      position: relative;
      i{
        position: absolute;
        top: 2px;
        right: 5px;
        font-size: 20px;
        // z-index: 50;
        cursor: pointer;
      }
      .text{
        width: 100%;
        text-align: start;
        font-size: 13px;
        // background-color: blue;
      }
      .containerImagePost{
        @include centrar-elemento(center, center);
        @include area(20%, 35vh);
        border-radius: 20px;
        margin: 20px 0 0 0;
        .image{
          width: 100%;
        border-radius: 20px;
      }
      }
      .createPost{
        font-size: 12px;
        position: absolute;
        bottom: 10px;
        color: rgb(156, 154, 154);
        right: 0;
      }
    }
    .nullPost{
      @include area(95%, 12vh);
      @include centrar-elemento(center, center);
    }
  }