@import "../../Style/mixins";
.optionsView{
    @include centrar-elemento(space-around,center, column);
    @include area(7%, 5vh);
    background-color: rgb(39, 37, 37);
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 10;
    opacity: 0;
    border-radius: 20px 0 20px 20px;
    padding: 10px 10px;
    color: white;
    transition: opacity .5s ease;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.713);
    p{
        font-size: 13px;
        margin: 5px 0;
        width: 100%;
        // margin: 0;
        cursor: pointer;
        transition: color .5s;
    }
    p:hover{
        @include degradeText(left, white, purple);
    }
}
.optionVisible{
    opacity: 1;
}