@import '../../Style/mixins';
@import '../../Style/variables';
.viewRegister{
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(206,200,200,1) 61%);
    @include area (100%, 100vh);
    @include centrar-elemento (space-around, center);
    background-color: $bgPrincipal;
}
.containerLogo{
    width: 430px;
    // background-color: red;
    img{
        width: 100%;
    }
}
.container{
    background-color: red;
    @include centrar-elemento (center, center);
    width: 100px;
    height: 200px;
    .btn{
        background-color: green;
        font-size: 20px;
        p{
            background-color: blue;
        }
    }
}