@import '../../Style/mixins';
@import '../../Style/variables';
.viewRegister{ 
    background-color: #efe7e7;
    @include area (100%, 100vh);
    @include centrar-elemento (space-between, center);
}
.containerLogo{
    width: 350px;
    margin-left: 100px;
    // background-color: red;
    img{
        width: 100%;
    }
}
.container{
    background-color: red;
    @include centrar-elemento (center, center);
    width: 100px;
    height: 200px;
    .btn{
        background-color: green;
        font-size: 20px;
        p{
            background-color: blue;
        }
    }
}