@import "../../Style/mixins";
@import "../../Style/variables";
.viewNav {
  @include area(100%, 8vh);
  @include centrar-elemento(space-between, center, row);
  background-color: #292929;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 100000;
}

.containerLogoTxTs{
  width: 3.2%;
  @include centrar-elemento(center, center);
  .image{
    width: 100%;
  }
}

.infoUser {
    @include centrar-elemento(space-between,center, row);
  // background-color: violet;
  font-size: 13px;
  font-weight: $extraLight;
  color: white;
  padding: 0 0px;
  text-align: end;
  .containerImage{
    @include centrar-elemento(center,center);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 10px;
    .image{
    width: 100%;
    }
  }
}

.inputContainer {
  @include area(25%, 5vh);
  @include centrar-elemento(space-between, center, row);
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 0 10px;
  // margin-left: 300px;
  .icon {
    @include centrar-elemento(center, center);
    font-size: 20px;
    // background-color: red;
  }
  .input {
    @include area(95%, 4vh);
    background-color: transparent;
    border-radius: 20px;
    padding: 0 5px;
    // font-weight: $extraLight;
    font-size: 12px;
  }
}

